[Unit]
Description=Configure Firefox to use the IPU7 PipeWire camera
ConditionPathExists=%h/.var/app/org.mozilla.firefox/config/mozilla/firefox/profiles.ini

[Service]
Type=oneshot
ExecStart=/usr/libexec/purplefin/configure-firefox-pipewire-camera

[Install]
WantedBy=default.target
