[Desktop Entry]
Type=Application
Name=Grist
Comment=Open Vates Grist in Firefox
Exec=firefox --new-window https://grist.vates.tech
Icon=firefox
Categories=Office;WebBrowser;
Terminal=false
