[Unit]
Description=Load Dell IPU7 PSYS camera driver
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service
ConditionPathExists=/var/lib/purplefin/dell-ipu7/setup.done

[Service]
Type=oneshot
ExecStartPre=-/usr/sbin/modprobe intel_cvs
ExecStart=/usr/sbin/modprobe intel_ipu7_psys
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
