[Unit]
Description=Install Purplefin rEFInd theme
After=local-fs.target
ConditionPathExists=/usr/share/purplefin/refind/themes/rEFInd-Regular-Dark/theme.conf

[Service]
Type=oneshot
ExecStart=/usr/libexec/purplefin/install-refind-theme

[Install]
WantedBy=multi-user.target
