[Desktop Entry]
Type=Application
Name=Vates Notes
Comment=Open Vates Notes in Firefox
Exec=firefox --new-window https://notes.vates.tech
Icon=firefox
Categories=Office;WebBrowser;
Terminal=false
