[Unit]
Description=Run Purplefin rpm-ostree first-boot tasks
After=network-online.target rpm-ostreed.service
Wants=network-online.target rpm-ostreed.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/purplefin/run-firstboot-rpm-ostree

[Install]
WantedBy=multi-user.target
