[Unit]
Description=Update the system Bitwarden Flatpak
Documentation=https://bitwarden.com/help/getting-started-desktop/
Wants=network-online.target
After=network-online.target flatpak-preinstall.service
ConditionPathExists=/usr/bin/flatpak

[Service]
Type=oneshot
ExecStart=/usr/libexec/purplefin/update-bitwarden-flatpak
