[Unit]
Description=Check twice daily for Bitwarden Flatpak security updates

[Timer]
OnCalendar=*-*-* 06,18:00:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
