[Unit]
Description=Layer 1Password desktop on Purplefin systems
After=network-online.target rpm-ostreed.service
Wants=network-online.target
ConditionPathExists=!/usr/lib/opt/1Password/1Password-BrowserSupport

[Service]
Type=oneshot
ExecStart=/usr/libexec/purplefin/install-1password-desktop

[Install]
WantedBy=multi-user.target
