[Unit]
Description=Install Purplefin Homebrew bundle
After=network-online.target brew-setup.service
Wants=network-online.target
ConditionPathExists=/usr/share/purplefin/manifests/Brewfile

[Service]
Type=oneshot
ExecStart=/usr/libexec/purplefin/apply-brew-bundle
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
